.footer-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 17px;
  padding-top: 7px;
  width: 266px;
  padding-left: 0px;
  border-bottom: 1px solid #d9d9d9;
  margin-left: 7px;
}

.footer-social__icon:hover {
  fill: @basic-green;
}

.footer-social__icon:active {
  fill: @basic-green;
  opacity: 0.3;
}

.footer-social__icon--vk {
  display: block;
  width: 30px;
  height: 23px;
  fill: @footer-icon;
}

.footer-social__icon--yt {
  display: block;
  width: 26px;
  height: 23px;
  fill: @footer-icon;
}

.footer-social__icon-tg {
  display: block;
  width: 26px;
  height: 23px;
  fill: @footer-icon;
}

.footer-social__item:nth-child(1) {
  margin-right: 23px;
}

.footer-social__item:nth-child(2) {
  margin-right: 27px;
}

@media (min-width: @tablet-width) {
  .footer-social {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}
