.main-header {
  flex-direction: column;
  background-color: #fff;
  color: @basic-color;
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0;
    justify-content: flex-start;
    display: flex;

    .main-nav__toggle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
  }

}

.main-nav {
  position: relative;
  width: auto;
  min-height: 16px;

}

.main-nav__toggle {
  width: 24px;
  height: 16px;
  background-color: transparent;
  border: none;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 24px;
    height: 2px;
    background-color: #111111;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: -13px;
    left: 257px;
    display: none;
  }

  &::after {
    transform: rotate(-45deg);
    top: -13px;
    left: 257px;
    display: none;
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 256px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.6;
}

.site-list a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-top: 18px;
  }

}

.site-list__item:not(:last-child) {

  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }

}


@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-header__logo {
  height: 38px;
  margin-right: 57px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }

}

.main-header__logo-basic-image{
  @media (min-width: @tablet-width) {
    margin-right: 13px;
    margin-left: 31px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-list {
  display: none;
  flex-direction: column;
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 404px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 654px;
    display: flex;
  }

}

.site-list__link {
  border-top: 1px solid #E6E6E6;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    border: none;
  }

}

.main-header__logo-image {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    margin-right: 93px;;
  }
}
