.main-header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: @basic-color;
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    justify-content: flex-start;

    .main-nav__toggle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }

}

.main-nav {
  position: relative;
  width: auto;
  min-height: 16px;

}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 24px;
    height: 2px;
    background-color:  #111111;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#000000, 30%),
    0 16px 0 0 fade(#000000, 30%);
}



.site-list a {
  display: block;
  padding: 13px 21px;
  font-size: 20px;
  line-height: 20px;
  color:  #000000;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-header__logo {
  height: 38px;

  @media (min-width: @tablet-width) {
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }

}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list {
  display: none;

  @media (min-width: @tablet-width) {
    width: 505px;
    justify-content: flex-end;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 654px;
    display: flex;
  }

}

.site-list__link {

  @media (min-width: @tablet-width) {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

}





