.main-header {
  flex-direction: column;
  background-color: #fff;
  color: @basic-color;

  @media (min-width: @desktop-width) {
    background-color: transparent;
    padding-top: 53px;
  }
}

.main-header__wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    width: 708px;
    justify-content: flex-start;
    display: flex;
    margin-right: 60px;
    padding-bottom: 30px;

    .main-nav__toggle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
  }

}

.main-header__wrapper-header{
  @media (max-width: @mobile-width-only) {
  width: 280px;
  margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    justify-content: flex-start;
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
  }
}

.site-list a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    background: transparent;
    color: #111111;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list--index a{
  @media (min-width: @desktop-width) {
    color: #fff;
  }
}

@media (min-width: @tablet-width) {
.site-list__item:nth-child(1) {
  margin-right: 34px;
}

.site-list__item:nth-child(2) {
  margin-right: 37px;
}

.site-list__item:nth-child(3) {
  margin-right: -27px;
}
}

.site-list__current::before{
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 154px;
    background-color: #68b738;
    height: 2px;
    bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.site-list__below::before{
  @media (min-width: @tablet-width) {
  position: absolute;
  content: "";
  width: 65px;
  background-color: #68b738;
  height: 2px;
  bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 71px;
    background-color: @white;
    bottom: 34px;
  }
}



.main-header__logo {
  margin-right: 57px;
  display: inline-block;

  &--position{
    margin-right: 54px;
    display: inline-block;
    margin-left: 19px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }

}

.main-header__logo-basic-image{
  @media (min-width: @tablet-width) {
    margin-right: 13px;
    margin-left: 31px;
  }
}


.site-list {
  flex-direction: column;
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 505px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 654px;
    display: flex;
  }

}

.site-list__link {
  border-top: 1px solid #E6E6E6;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    border: none;
  }

}

.main-header__logo-image {
  padding-top: 16px;
}
