.result {
  width: 320px;
  background-color: #EAEAEA;
  margin: 0 auto;
}

.result__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000;
}

.result__description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;

  &--shell {
    font-size: 12px;
    line-height: 12px;
  }

  &--price {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}


.result__total {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

