.add-product {
  width: 280px;
}

.add-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-product__heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.add-product__descriptions {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.add-product__stock-descriptions{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

.add-product__stock{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 280px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),url(../img/phone/cat-catalog.png) ;
  background-position: center;
  background-repeat: no-repeat;
}

.add-product__stripe{
  border: 1px solid #CDCDCD;
}
