.product {
    width: 280px;
    margin: 0 auto;
}

.product__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
}

.product__descriptions {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}

.stripe{
    border: 1px solid #EBEBEB;
}
