.product {
    width: 280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,140px);
    grid-template-rows: repeat(3,auto);
    align-items: center;
}

.product__wrapper{
  padding: 11px 20px 13px 0;
  grid-column: 2/3;
  grid-row: 2/-3;
}

.product__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    grid-column: 2/3;
    margin: 0;
}

.product__descriptions {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    grid-column: 2/3;
    grid-row: -2/-3;
    display: grid;
    grid-template-columns: repeat(2,70px);
    grid-template-rows: repeat(3,16px);
}

.product__image{
  padding: 19px 36px 12px 36px;
  grid-column: 1/2;
  grid-row: 2/-2;
}

.product__button {
  background-color: #68B738;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  grid-column: 1/3;
  grid-row: 3/-1;
}

.product__meaning{
  display: grid;
  margin: 0;
  justify-items: end;
}

.stripe{
    border: 1px solid #EBEBEB;
}
