.product {
  width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  margin-bottom: 25px;
  position: relative;


  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    width: 324px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px minmax(50px, 251px);
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.product__wrapper {
  padding: 11px 0 13px 0;
  grid-column: 2/3;
  grid-row: 2/-3;

  @media (min-width: @tablet-width) {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 34px 36px 33px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-left: 46px;
  }

}

.product__heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  grid-column: 2/3;
  margin: 0;
  margin-bottom: 14px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;
    padding-right: 50px;
  }
}

.product__descriptions {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-column: 2/3;
  grid-row: -2/-3;
  display: grid;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: repeat(3, auto);
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: repeat(3, auto);
    row-gap: 16px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 75px);
  }
}

.product__image {
  grid-column: 1/2;
  grid-row: 2/-2;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0 82px 390px;

  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0px 42px 390px;
  }
}

.product__wrapper-img{
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}

.product__wrapper-button {
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 37px 39px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 38px 40px 39px;
  }
}

.product__button {
  background-color: #68B738;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }

  &:hover {
    background-color: @basic-green2;
  }

  &:active {
    background-color: @basic-green2;
    color: rgba(255, 255, 255, 0.3);
  }
}

.product__meaning {
  display: grid;
  margin: 0;
  justify-items: end;

  @media (min-width: @tablet-width) {
    padding-bottom:9px;
    border-bottom: 1px solid #CDCDCD;
  }
}

.product__key{

  @media (min-width: @tablet-width) {
    padding-bottom:9px;
    border-bottom: 1px solid #CDCDCD;
  }
}

.stripe {
  border: 1px solid #EBEBEB;
  margin: 0;
}

.product__link-product{
  text-decoration: none;
}
