.form {
    width: 320px;
}

.form__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.form__description {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.form__characteristic {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;

    &--shade {
        color: #222222;
    }

    &--change {
        color: #000000;
    }
}

.form__section-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
}

.form__pushbutton__button {
    background-color: #68B738;
    padding: 7px 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form__pushbutton__description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
